{%- if card_product and card_product != empty -%}

  <div>
    <div class="uk-card uk-card-default uk-card-hover">
      <div class="uk-card-media-top">

        {% if card_product.featured_media %}

          {{ card_product.featured_media | image_url: height: 210 | image_tag: loading: 'lazy' }}
        {%- endif -%}

      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">
          {{ card_product.title }}</h3>
      </div>
    </div>
  </div>

{%- endif -%}
