.header-container {
  width: 100%;
  .uk-navbar-left {
    width: 100%;
  }
}
.header-top {
  width: 100%;
  display: grid;
  grid-template-areas: "header-top-logo header-top-menu header-top-icons";
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  &__logo {
    justify-self: flex-start;
    grid-area: header-top-logo;
  }
  &__menu {
    grid-area: header-top-menu;
  }
  &__icons {
    justify-self: flex-end;
    grid-area: header-top-icons;
  }
  &__icon {
    position: relative;
    cursor: pointer;
    margin-left: 10px;
  }
  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    grid-template-areas: "header-top-menu header-top-logo header-top-icons";
  }
  // submenu
  .nav__item {
    &:hover {
      .nav__item-submenu {
        display: block;
      }
    }

    .nav__item-submenu {
      display: none;
    }
  }
}
