{%- for block in section.blocks -%}
  <nav class="{{ block.settings.text_align }}" style="color: {{ block.settings.text_color }}; background: {{ block.settings.bg_color }}">
    {{ block.settings.text }}
  </nav>
{%- endfor -%}

{% schema %}
{
"name": "Announcement Bar",
"max_blocks": 12,
"blocks": [
{
"type": "announcement",
"name": "Announcement Bar",
"settings": [
{
"id": "text",
"label": "Text",
"type": "richtext"
},
{
"id": "text_color",
"label": "Color",
"type": "color",
"default": "#000000"
},
{
"id": "bg_color",
"label": "Bg Color",
"type": "color",
"default": "#ffffff"
}
]
}
],
"default": {
"blocks": [
{
"type": "announcement"
}
]
}
} {% endschema %}